@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 10px;
  background-color: #D8BFD8		;
  z-index: 1;
}

.flag {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #E75480;
  background-size: cover;
  background-position: center;
  z-index: 2;
  color: white;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  border-radius: 0 0 10px 10px;
}

.flag:nth-child(4n) {
  background-color:  #301934;
}

.flag:nth-child(4n + 1) {
  background-color: #8E4585;
}
